.header {
    margin: 40px auto 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}

.header__burger-menu-icon {
    width: 36px;
    height: 24px;
    transition: opacity 0.5s ease;
    cursor: pointer;
}

.header__menu-container {
    position: relative;
}

.header__menu-text {
    position: absolute;
    font-size: 20px;
    font-family: 'Marcellus', serif;
    text-transform: uppercase;
    transform: rotate(270deg);
    margin: 0;
    top: 90px;
    left: -10px;
}

.header__burger-menu-icon:hover {
    opacity: 0.8;
}

.header__phone-number {
    font-family: 'Marcellus', sans-serif;
    font-size: 20px;
    margin: 0;
}